<div class="row">
    <div class = "col-xs-12">
        <div class="form">
            <form [formGroup] = "form" (ngSubmit) = "submit()">
                <div class="row">
                    <div class = "col-xs-12">
                        <button 
                            class = "btn btn-success" 
                            type = "submit">
                            Save
                        </button>
                        <button 
                            class = "btn btn-danger" 
                            type = "button">
                            Cancel
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-sm-7 form-group">
                        <label>Title:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            id = "title"
                            formControlName = "title">
                    </div>
                </div>
                
                <div class="row">
                    <div class = "col-sm-7 form-group">
                        <label>Description:</label>
                        <textarea 
                            type="text" 
                            class="form-control"
                            id = "description"
                            rows = "6"
                            formControlName = "description">
                            </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-sm-7 form-group">
                        <label>Image Path:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            id = "imagePath"
                            formControlName = "imagePath">
                    </div>
                </div>
                <div class = "row" formArrayName = "ingredients" >
                    <div 
                        *ngFor = "let ingredientControl of getControls(); let i = index" 
                        [formGroupName] = "i">
                        <div class = "col-sm-7 form-group">
                            <input 
                                type = "string" 
                                class = "form-control"
                                name = "name"
                                formControlName = "name">
                        </div>
                        <div class = "col-sm-2 form-group">
                            <input 
                                type = "number" 
                                class = "form-control"
                                name = "amount"
                                formControlName = "amount">
                        </div>
                        <div class="col-xs-2">
                            <button class = "btn btn-danger" (click) = "deleteIngredient()">
                                X
                            </button>
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-xs-12">
                        <button 
                            class = "btn btn-primary" 
                            type = "button" 
                            (click) = "addIngredient()" 
                            >
                            Add
                        </button>
                        <!-- <button 
                            class = "btn btn-warning" 
                            type = "button"
                            [disabled] = "selectedIngredient === undefined"
                            (click) = "deleteIngredient()">
                            Delete
                        </button> -->
                    </div>
                </div>
                <!-- <div class="row">
                    <ul class = "list-group">
                        <a 
                            style = "cursor: pointer;"
                            class = "list-group-item" 
                            *ngFor = "let ingredient of recipe.ingredients; let i = index"
                            (click) = "onEditItem(i)">
                            {{ ingredient.name }} {{ ingredient.amount }}
                        </a>
                    </ul>
                </div>
                -->

            </form>
        </div>
    </div>
</div>